*
!Dockerfile
!requirements.txt
!requirements-dev.txt
!app/
!app/**
!config/
!config/*.json
!migrations/
!migrations/*.sql
!examples/
!examples/*.json
!scripts/
!scripts/*.py
!tests/
!tests/*.py
**/__pycache__/
**/*.py[cod]
